h1{
    color: orange;
}

.grid-container {
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        background-color: #f8ffd0;
    padding: 2px;
  }
  .grid-item {
  border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 7px solid rgba(0, 0, 0, 0.8);
    padding: 3px;
    font-size: 20px;
    margin: 5px;
  }
  .border{
  border-bottom: 1px solid black;
  }
  .center{
  text-align: center;
  }
  .float-right{
  float: right;
  }
  .paddings{
  padding-top: 5px;
    padding-bottom: 5px;
  }

  .colors{
    color: #4e4bdd;
  }

  .activeTrue{
      color:green;
  }

  .activeFalse{
    color: red;
  }


 